<nav>
    <a href="#" class="nav-logo">
        <img src="../../img/logo.png" title="plantb arabic" alt="plantb arabic"/>
    </a>
    <button type="button" class="toggle-nav">
            <i class="fas fa-bars"></i>
    </button>
    <div class="nav-content">
        <div class="close-mobile">
            <button type="button">
                <span class="close-icon">
                        <i class="far fa-window-close"></i>
                </span>
                <span class="close-text h">اغلاق</span>
            </button>
        </div>
        <ul class="nav-list">
            <li class="nav-item">
                    <a class="nav-link" href="#">
                        الصفحه الرئيسيه
                    </a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="#">
                        عننا
                    </a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="#">
                        الوصفات
                    </a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="#">
                        تعرف أكثر
                    </a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="#">
                        تحدى 21 يوم
                    </a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="#">
                        الاسئلة الأكثر تكراراً
                    </a>
            </li>
        </ul>
        <ul class="nav-setting">
            <li class="setting-item">
                    <a class="setting-link" href="#">
                        ENGLISH
                    </a>
            </li>
            <li class="setting-item">
                    <a class="setting-link" href="#">
                        بحث
                    </a>
            </li>
        </ul>
    </div>
</nav>