<nav>
    <a href="#" class="nav-logo">
        <img src="../../img/logo.png" title="plantb arabic" alt="plantb arabic"/>
    </a>
    <div class="nav-content">
        <ul class="nav-list">
            <li class="nav-item">
                    <a class="nav-link" href="#">
                        الصفحه الرئيسيه
                    </a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="#">
                        عننا
                    </a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="#">
                        الوصفات
                    </a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="#">
                        تعرف أكثر
                    </a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="#">
                        تحدى 21 يوم
                    </a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="#">
                        الاسئلة الأكثر تكراراً
                    </a>
            </li>
        </ul>
        <ul class="nav-setting">
            <li class="setting-item">
                    <a class="setting-link" href="#">
                        ENGLISH
                    </a>
            </li>
            <li class="setting-item">
                    <a class="setting-link" href="#">
                        بحث
                    </a>
            </li>
        </ul>
    </div>
</nav>